.fullReview {
    width: 100%;
    margin: 0 auto;
    display: block;
    flex-wrap: wrap;
    gap: 20px;
    /* overflow: scroll; */
}

.eachReview {
    background-color: white;
        /* max-width: 600px;
        max-height: 500px; */
        padding: 20px;
        margin: 20px ;
        border-radius: 2px;
        border: .25px lightgrey solid;
}

.review {
    padding: 5px;
    font-size: 14px; 
    text-decoration: none;
    background-color: white;
        max-width: 600px;
        max-height: 500px;
        padding: 20px;
        margin: 20px auto;
        border-radius: 2px;
        border: .25px lightgrey solid;
}

.buttons {
    background-color: #60435F;
    color: #FDF7FA;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
}

 .posters {
    width: 100px;
    text-align: left;
    display: flex;
    /* margin-right: 500px; */
} 

.user {
    display: flex;
}

.reviewLinks {
    text-decoration: none;
    color: black;

}

.poster_stars {
    display: flexbox;
    flex-wrap: wrap;
}
.comments {
    display: flexbox
}